<ion-view view-title="Car VIN" enable-menu-with-back-views="false">
<ion-content padding="true">
<div class="level1">
	<div class="card" ng-click="showAlert()">
		<div class="item item-text-wrap">
			<div class="row">
				<div class="col">
					<img src="img/vin-location-609x270.png" style="width: 95%">		
				</div>
			</div>
			<div class="row">
				<div class="col col-offset-80">
					<button class="button button-light"><span class="icon ion-information-circled" style="color:#FFC900;"></span></button>
				</div>
			</div>
		</div>
	</div>
	<div class="list">
		<form name="vinNumberForm" action="#/app/vehicle/register/loockupvin/">
			<label class="item item-input" style="padding-right: 1em">
				<span class="input-label">VIN#</span>
				<input type="search" name="vin" required="" ng-model="carRegistrationInfo.vin">
			</label>
			<button class="button button-full button-balanced" ng-disabled="vinNumberForm.$invalid">
				<span class="icon ion-search"></span> Lookup
			</button>
		</form>
	</div>
</div><!-- ./level1 -->
</ion-content>
</ion-view>