<ion-view view-title="Parking Center" enable-menu-with-back-views="false">
<ion-content padding="true">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
<div class="list">
	<ion-list>
	<ion-item class="item-remove-animate item-icon-right" ng-repeat="parking in parkings track by $index" type="item-text-wrap" href="#/app/parking/">
	    <just-gage id="{{parking.id}}" class="someClass" min=0 max=parking.max value=parking.current title="Parking {{parking.name}}"></just-gage>
	<ion-option-button class="button-assertive" ng-click="remove(parking)">
	Delete
</ion-option-button>
</ion-list>
</div>

</ion-content>
</ion-view>
