<ion-view view-title="Card Information">
<ion-content>
<div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name">
  </label>
  <hr/>
  <label class="item item-input">
    <input type="text" placeholder="Street Address">
  </label>
<label class="item item-input">
    <input type="text" placeholder="City">
  </label>
<label class="item item-input">
    <input type="text" placeholder="State">
  </label>
<label class="item item-input">
    <input type="text" placeholder="Zip Code">
  </label>
<hr/>

  <label class="item item-input">
    <input type="text" placeholder="Card Number">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Expiration Date">
  </label>
    <label class="item item-input">
    <input type="text" placeholder="CSV Number">
  </label>
<button class="button button-block button-dark">
  Submit
</button>

</div>
</ion-content>
</ion-view>