<ion-view view-title="Easy Park" enable-menu-with-back-views="false">
<ion-content>

<div class="progress-wrapper">
<just-gage id="ABCD1" class="someClass" min=reg.start max=reg.end value=reg.current title="Time left"></just-gage>
</div>
<div class="list card">
  <a href="#/app/parkinglist" class="item item-icon-left">
    <i class="icon ion-ios-location"></i>
    Parking Status
  </a>

  <a href="#/app/scanqr" class="item item-icon-left">
    <i class="icon ion-android-car"></i>
    Register parking
  </a>

  <a href="#/app/scanqr/moretime" class="item item-icon-left">
    <i class="icon ion-clock"></i>
    Add More time
  </a>

</div>

</ion-content>

</ion-content>
    <ion-footer-bar align-title="left" class="bar-assertive">
      <div class="button-bar">
        <a class="button button-icon icon ion-android-car" ng-href="#/app/scanqr"></a>
        <a class="button button-icon icon ion-loop" ng-href="#/app/parkinglist"></a>
        <a class="button button-icon icon ion-map" ng-href="#/app/map"></a>
      </div>
    </ion-footer-bar>
</ion-view>