<ion-view view-title="Easy Park" enable-menu-with-back-views="false">
<ion-content>



<nvd3 options="vm.options" data="vm.data"></nvd3>
<div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-location"></i>
    Parking Status
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Enter card information
  </a>


  <a href="#" class="item item-icon-left">
    <i class="icon ion-model-s"></i>
    Enter car information
  </a>

</div>
<style>
  .info-box {
    display: block;
    min-height: 90px;
    background: #FFF none repeat scroll 0% 0%;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
  }
  .bg-aqua {
    background-color: #00C0EF !important;
  }
  .bg-yellow {
    background-color: #F39C12 !important;
}
  .info-box-icon {
    border-radius: 2px 0px 0px 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
  }

  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
  }
  .info-box-text {
    text-transform: uppercase;
  }
  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }
</style>

<div class="row">
  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i style="color:#FFF" class="icon ion-ios-location"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Messages</span>
        <span class="info-box-number">1,410</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

</div>
<div class="row">
  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i style="color:#FFF"class="icon ion-model-s"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Messages</span>
        <span class="info-box-number">1,410</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  
</div>

</ion-content>
</ion-view>