<ion-view view-title="Easy Park" enable-menu-with-back-views="false">
<ion-content>

<div class="progress-wrapper">
  <div class="progress ng-cloak" style="top: 50%; bottom: auto; left: 50%; transform: translateY(-50%) translateX(-50%); font-size: 0.5em;">12 min</div>
  <div
  round-progress=""
  max="100"
  current="35"
  color="#00C0EF"
  bgcolor="#eaeaea"
  radius="150"
  stroke="75"
  semi="false"
  rounded="false"
  clockwise="true"
  responsive="true"
  duration="800"
  animation="easeInOutQuart"
  animation-delay="100"
  on-render="showPreciseCurrent"
  >
</div>
</div>
<div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-location"></i>
    Parking Status
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Add More time
  </a>


  <a href="#" class="item item-icon-left">
    <i class="icon ion-model-s"></i>
    Scan QR code
  </a>

</div>






</ion-content>
</ion-view>