<ion-view view-title="Map" enable-menu-with-back-views="false" drag-content="false">
	<ion-content padding="false" has-bouncing="false">
		<div id="map" data-tap-disabled="true"></div>
	</ion-content>
	    <ion-footer-bar align-title="left" class="bar-assertive">
      <div class="button-bar">
        <a class="button button-icon icon ion-home" ng-click="gotohome()"></a>
        <a class="button button-icon icon ion-loop" ng-click="doRefresh()"></a>
        <a class="button button-icon icon ion-ios-navigate-outline" ng-click="centerOnMe()"></a>
      </div>
    </ion-footer-bar>
</ion-view>